.contenedorCatalogo{
    position: inherit !important;
  }
  :root {
    --color1: rgb(219, 144, 0.5);
    --color2: rgba(29, 241, 171, 0.6);
    --color3: rgba(7, 109, 150, 0.45);
    --fondo: #f2f2f2;
    --margenes: 60px;
    --titulos: 33px;
    --espacios: 10px;
    --espacios-contenido: 45px;
  }
  @media screen and (max-width:1000px){
    .btn-lg{
      position: inherit !important;
      border-radius:5px !important;
      margin-top:5px;
    }
  }