
footer{background:url(../img/teclado.jpg);}
/* 
.marca-logo{
  width: 15%;
  margin: auto;
  margin-bottom: var(--espacios);
}
.marca-logo{
  text-align: center;
}
.marca-logo img{
  width: 50%;
}
.iconos{
  display: flex;
  margin: auto;
  justify-content: space-around;
  width: 100%;
}
.fa-youtube{
    color:red;
}
.fa-facebook-square{
    color:rgb(0,0,150);
}
.fab{
  font-size:60px;

  margin-bottom: var(--espacios);
  display: inline-block;
}

footer p{
  margin-top:var(--espacios);
  font-size:20px;
  text-align: center;
  overflow: hidden;
  font-weight: 300;
}
.about {
  height: auto;
}
.servicios{
  display: flex;
  color: white;
  margin: auto;
  justify-content: space-between;
  flex-wrap: wrap;
}
.caja-servicios{
    width: 30%;
    margin: auto;
    text-align: center;
}
.caja-servicios>h4{
    margin-bottom: var(--espacios);
}
.caja-servicios>p{
    text-align: center;
} */