:root {
  --color1: rgb(219, 144, 0.5);
  --color2: rgba(29, 241, 171, 0.6);
  --color3: rgba(7, 109, 150, 0.45);
  --fondo: #f2f2f2;
  --margenes: 60px;
  --titulos: 33px;
  --espacios: 10px;
  --espacios-contenido: 45px;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "open sans";
}
body {
  background: var(--fondo);
}
.contenedorCatalogo{
  position: inherit !important;
}
/* Selecciona todas las clases con la palabra contenedor */
.contenedor {
  margin: auto;
  text-align: center;
  overflow: hidden;
}
/*Todos los h3 del main*/
.contenedor > h3 {
  font-size: var(--titulos);
  color: var(--color1);
  margin-bottom: var(--espacios);
}

.contenedor p {
  font-size: var(--subtitulos);
  font-weight: 300;
  color: var(--color1);
}
/*Agrega una caja a cada p con la clase after*/
.after::after {
  content: "";
  display: block;
  margin: auto;
  margin-top: var(--espacios);
  width: 100px;
  height: 2px;
  background: var(--color1);
  margin-bottom: var(--espacios-contenido);
}

.recomendados-libro {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.contenedor-recomendados {
  width: 31%;
<<<<<<< HEAD
  overflow:  scroll ;
  height: 500px;
}
=======
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.5); 
  height: 500px;
}
.contenedor-recomendados::-webkit-scrollbar-track:hover,
.contenedor-recomendados::-webkit-scrollbar-track:active {
  background: #666569;
  transition: width 2s;
}
.contenedor-recomendados::-webkit-scrollbar {
  width: 15px;     /* Tamaño del scroll en vertical */
  height: 0px;    /* Tamaño del scroll en horizontal */
}
>>>>>>> eb2a21330ab0caac77635c00b5e1868b29574cde
.libro{
  height: 80%;
}
.contenedor-recomendados img {
  width: 100%;
  height: 100%;
  object-fit: fill;
}
.info-libro {
  height: 20%;
  width: 100%;
  padding: var(--espacios);
}

<<<<<<< HEAD
=======

>>>>>>> eb2a21330ab0caac77635c00b5e1868b29574cde
.botones-work li{
  border: 1px solid var(--color1);
  color: var(--color1);
  padding: 6px 12px;
  list-style: none;
  text-align: center;
  font-size: 20px;
  display: inline-block;
  margin-left:var(--espacios);
  margin-bottom: var(--espacios-contenido);
}
.botones-work li:hover{
  background: var(--color1);
  color:white;
  cursor: pointer;
}

